flows.json
[
    {
        "id": "4c01f2aaf01dbc40",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46654a8699e29a85",
        "type": "ui_chart",
        "z": "4c01f2aaf01dbc40",
        "name": "Consumo Acumulado (kWh)",
        "group": "g1h2i3j4k5",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Consumo Acumulado (kWh)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": "30",
        "removeOlderPoints": "100",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "421029faf0f42a5c",
        "type": "mqtt in",
        "z": "4c01f2aaf01dbc40",
        "name": "Receber Consumo (MQTT)",
        "topic": "fiap/iot/consumo",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "bb37a3168bbd07fa"
            ]
        ]
    },
    {
        "id": "bb37a3168bbd07fa",
        "type": "function",
        "z": "4c01f2aaf01dbc40",
        "name": "Processar Dados",
        "func": "msg.topic = \"consumo_acumulado\";\nmsg.payload = msg.payload.totalEnergy || 0;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "46654a8699e29a85"
            ]
        ]
    },
    {
        "id": "g1h2i3j4k5",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "node-red-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "IoT Energy",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]